---
title: Look Portrait - Female Portraits Two
---
<div class="main">
    <aside class='gallery-aside'>
        <p class="top"><%= lorem.paragraph %></p>
    </aside>
    <article class="gallery-section">
        <div id="active-picture" class="active-picture-container">
            <%= image_tag '/images/galleries/girls-portraits/girl-portraits-playing-with-hair.jpg', :alt=>'Female portraits photo', :class=>'pictures' %>
        </div>
        <ul id="pictures-list" class="pictures-list">
            <li><%= link_to "1", "/images/galleries/girls-portraits/girl-portraits-red-background.jpg" %></li>
            <li><%= link_to "2", "/images/galleries/girls-portraits/girl-portraits-sitting-by-garbage.jpg" %></li>
            <li><%= link_to "3", "/images/galleries/girls-portraits/girl-portraits-sitting-on-roof.jpg" %></li>
            <li><%= link_to "4", "/images/galleries/girls-portraits/girl-portraits-sitting-on-steps.jpg" %></li>
            <li><%= link_to "5", "/images/galleries/girls-portraits/girl-portraits-smiling.jpg" %></li>
            <li><%= link_to "6", "/images/galleries/girls-portraits/girl-portraits-standing-on-door.jpg" %></li>
            <li><%= link_to "7", "/images/galleries/girls-portraits/girl-portraits-standing-outside-hotel-2.jpg" %></li>
            <li><%= link_to "8", "/images/galleries/girls-portraits/girl-portraits-umbrella.jpg" %></li>
            <li><%= link_to "9", "/images/galleries/girls-portraits/girl-portraits-walking-up-steps.jpg" %></li>
            <li><%= link_to "10", "/images/galleries/girls-portraits/girl-portraits-playing-with-hair.jpg" %></li>
        </ul>
    </article>
</div>