---
title: Look Portrait - Male Landscapes
---
<div class="main">
    <aside class='gallery-aside'>
        <p class="top"><%= lorem.paragraph %></p>
    </aside>
    <article class="gallery-section">
        <div id="active-picture" class="active-picture-container">
            <%= image_tag '/images/galleries/guys/boy-portraits-carrying-tire.jpg', :alt=>'Male landscapes photo', :class=>'pictures' %>
        </div>
        <ul id="pictures-list" class="pictures-list">
            <li><%= link_to "1", "/images/galleries/guys/boy-portraits-eating-food.jpg" %></li>
            <li><%= link_to "2", "/images/galleries/guys/boy-portraits-headband.jpg" %></li>
            <li><%= link_to "3", "/images/galleries/guys/boy-portraits-hoodie-2.jpg" %></li>
            <li><%= link_to "4", "/images/galleries/guys/boy-portraits-on-phone.jpg" %></li>
            <li><%= link_to "5", "/images/galleries/guys/boy-portraits-sitting-and-waiting.jpg" %></li>
            <li><%= link_to "6", "/images/galleries/guys/boy-portraits-sitting-in-parking-lot.jpg" %></li>
            <li><%= link_to "7", "/images/galleries/guys/boy-portraits-sitting-on-steps.jpg" %></li>
            <li><%= link_to "8", "/images/galleries/guys/boy-portraits-sitting-on-tires.jpg" %></li>
            <li><%= link_to "9", "/images/galleries/guys/boy-portraits-standing-against-wall.jpg" %></li>
            <li><%= link_to "10", "/images/galleries/guys/boy-portraits-carrying-tire.jpg" %></li>
        </ul>
    </article>
</div>