---
title: Look Portrait - Athletics
---
<div class="main">
        <aside class='gallery-aside'>
        <p><%= lorem.paragraph %></p>
        </aside>
        <article class="gallery-section">
            <div id="active-picture" class="active-picture-container">
                <%= image_tag '/images/galleries/athletics/boy-athletics-basketball-court.jpg', :alt=>'Dan Brouillette', :class=>'pictures' %>
            </div>
            <ul id="pictures-list" class="pictures-list">
                <li><%= link_to "1", "/images/galleries/athletics/boy-athletics-catcher.jpg" %></li>
                <li><%= link_to "2", "/images/galleries/athletics/boy-athletics-football-standing.jpg" %></li>
                <li><%= link_to "3", "/images/galleries/athletics/boy-athletics-golfing.jpg" %></li>
                <li><%= link_to "4", "/images/galleries/athletics/boy-athletics-heelan-baseball.jpg" %></li>
                <li><%= link_to "5", "/images/galleries/athletics/boy-athletics-heelan-basketball-large.jpg" %></li>
                <li><%= link_to "6", "/images/galleries/athletics/boy-athletics-hockey-ice.jpg" %></li>
                <li><%= link_to "7", "/images/galleries/athletics/girl-athletics-running.jpg" %></li>
                <li><%= link_to "8", "/images/galleries/athletics/girl-athletics-stretching.jpg" %></li>
                <li><%= link_to "9", "/images/galleries/athletics/boy-athletics-wrestler.jpg" %></li>
                <li><%= link_to "10", "/images/galleries/athletics/boy-athletics-basketball-court.jpg" %></li>
            </ul>
        </article>
</div> <!-- #main -->