---
title: Look Portrait - Female Landscapes
---
<div class="main">
        <aside class='gallery-aside'>
        <p><%= lorem.paragraph %></p>
        <p><%= lorem.paragraph %></p>
        </aside>
        <article class="gallery-section">
            <div id="active-picture" class="active-picture-container">
                <%= image_tag '/images/galleries/girls/girl-portraits-looking-out-window.jpg', :alt=>'Dan Brouillette', :class=>'pictures' %>
            </div>
            <ul id="pictures-list" class="pictures-list">
                <li><%= link_to "1", "/images/galleries/girls/girl-portraits-heart-shirt.jpg" %></li>
                <li><%= link_to "2", "/images/galleries/girls/girl-portraits-looking-out-window-standing.jpg" %></li>
                <li><%= link_to "3", "/images/galleries/girls/girl-portraits-sitting-in-window.jpg" %></li>
                <li><%= link_to "4", "/images/galleries/girls/girl-portraits-standing-outside-hotel-night.jpg" %></li>
                <li><%= link_to "5", "/images/galleries/girls/girl-portraits-standing-on-tree.jpg" %></li>
                <li><%= link_to "6", "/images/galleries/girls/girl-portraits-standing-outside-hotel.jpg" %></li>
                <li><%= link_to "7", "/images/galleries/girls/girl-portraits-two-with-sunglasses.jpg" %></li>
                <li><%= link_to "8", "/images/galleries/girls/girl-portraits-walk-and-text.jpg" %></li>
                <li><%= link_to "9", "/images/galleries/girls/girl-portraits-walking-by-garage.jpg" %></li>
                <li><%= link_to "10", "/images/galleries/girls/girl-portraits-looking-out-window.jpg" %></li>
            </ul>
        </article>
</div> <!-- #main -->