---
title: Look Portrait - Female Portraits
---
<div class="main">
        <aside class='gallery-aside'>
            <p class="top"><%= lorem.paragraph %></p>
        </aside>
        <article class="gallery-section">
            <div id="active-picture" class="active-picture-container">
                <%= image_tag '/images/galleries/girls-portraits/girl-portraits-alley.jpg', :alt=>'Girl in alley', :class=>'pictures' %>
            </div>
            <ul id="pictures-list" class="pictures-list">
                <li><%= link_to "1", "/images/galleries/girls-portraits/girl-portraits-looking-out-window-dark.jpg" %></li>
                <li><%= link_to "2", "/images/galleries/girls-portraits/girl-portraits-blue-dress-elevator.jpg" %></li>
                <li><%= link_to "3", "/images/galleries/girls-portraits/girl-portraits-cardigan.jpg" %></li>
                <li><%= link_to "4", "/images/galleries/girls-portraits/girl-portraits-hand-on-head.jpg" %></li>
                <li><%= link_to "5", "/images/galleries/girls-portraits/girl-portraits-looking-back.jpg" %></li>
                <li><%= link_to "6", "/images/galleries/girls-portraits/girl-portraits-looking-back-shade.jpg" %></li>
                <li><%= link_to "7", "/images/galleries/girls-portraits/girl-portraits-looking-in-mirror.jpg" %></li>
                <li><%= link_to "8", "/images/galleries/girls-portraits/girl-portraits-looking-in-sun.jpg" %></li>
                <li><%= link_to "9", "/images/galleries/girls-portraits/girl-portraits-looking-out-window-2.jpg" %></li>
                <li><%= link_to "10", "/images/galleries/girls-portraits/girl-portraits-alley.jpg" %></li>
            </ul>
        </article>
</div> <!-- #main -->