---
title: Look Portrait - Galleries
---
<div class="main">
    <div class="galleries-link-container">
        <% link_to 'galleries/female-portraits.html', :class=>'gallery-image-link' do %>
        	<%= image_tag '/images/galleries/girls-portraits/girls-portraits-thumb.jpg', :alt=>'Female portraits thumbnail' %>
			<div class="gallery-link-logo"></div>
        <% end %>
        <%= link_to 'Female Portraits', 'galleries/female-portraits.html', :class=>'gallery-link' %>
    </div>
    <div class="galleries-link-container">
        <% link_to 'galleries/female-portraits-two.html', :class=>'gallery-image-link' do %>
            <%= image_tag '/images/galleries/girls-portraits/girls-portraits-two-thumb.jpg', :alt=>'Female portraits thumbnail' %>
            <div class="gallery-link-logo"></div>
        <% end %>
        <%= link_to 'Female Portraits - Two', 'galleries/female-portraits.html', :class=>'gallery-link' %>
    </div>
    <div class="galleries-link-container">
        <% link_to 'galleries/female-landscapes.html', :class=>'gallery-image-link' do %>
            <%= image_tag '/images/galleries/girls/female-landscapes-thumb.jpg', :alt=>'Female landscapes thumbnail' %>
            <div class="gallery-link-logo"></div>
        <% end %>
        <%= link_to 'Female Landscapes', 'galleries/female-landscapes.html', :class=>'gallery-link' %>
    </div>
    <div class="galleries-link-container">
        <% link_to 'galleries/male-portraits.html', :class=>'gallery-image-link' do %>
        	<%= image_tag '/images/galleries/guys-portraits/guy-portraits-thumb.jpg', :alt=> 'Male portraits thumbnail' %>
			<div class="gallery-link-logo"></div>
        <% end %>
        <%= link_to 'Male Portraits', 'galleries/guys-portraits.html', :class=>'gallery-link' %>
    </div>
    <div class="galleries-link-container">
        <% link_to 'galleries/male-landscapes.html', :class=>'gallery-image-link' do %>
        	<%= image_tag '/images/galleries/guys/guy-landscape-thumb-300x200.jpg', :alt=> 'Male landscapes thumbnail' %>
        	<div class="gallery-link-logo"></div>
        <% end %>
        <%= link_to 'Male Landscapes', 'galleries/male-landscapes.html', :class=>'gallery-link' %>
    </div>
    <div class="galleries-link-container">
        <% link_to 'galleries/athletics.html', :class=>'gallery-image-link' do %>
        	<%= image_tag '/images/galleries/athletics/athletics-thumb.jpg', :alt=>'Athletics thumbnail' %>
        	<div class="gallery-link-logo"></div>
        <% end %>
        <%= link_to 'Athletics', 'galleries/athletics.html', :class=>'gallery-link' %>
    </div>
</div>