---
title: Look Portrait - Male Portraits
---
<div class="main">
        <aside class='gallery-aside-large'>
            <p><%= lorem.paragraph %></p>
            <p><%= lorem.paragraph %></p>
            <ul id="pictures-list" class="pictures-list">
                <li><%= link_to "1", "/images/galleries/guys-portraits/boy-portraits-batman.jpg" %></li>
                <li><%= link_to "2", "/images/galleries/guys-portraits/boy-portraits-hoodie.jpg" %></li>
                <li><%= link_to "3", "/images/galleries/guys-portraits/boy-portraits-i-hear-grind.jpg" %></li>
                <li><%= link_to "4", "/images/galleries/guys-portraits/boy-portraits-red-elevator.jpg" %></li>
                <li><%= link_to "5", "/images/galleries/guys-portraits/boy-portraits-sitting-down.jpg" %></li>
                <li><%= link_to "6", "/images/galleries/guys-portraits/boy-portraits-sitting-in-pool.jpg" %></li>
                <li><%= link_to "7", "/images/galleries/guys-portraits/boy-portraits-smoking-tastee.jpg" %></li>
                <li><%= link_to "8", "/images/galleries/guys-portraits/boy-portraits-standing-by-bush.jpg" %></li>
                <li><%= link_to "9", "/images/galleries/guys-portraits/boy-portraits-standing.jpg" %></li>
            </ul>
        </aside>
        <article class="gallery-section-small">
            <div id="active-picture" class="active-picture-container">
                <%= image_tag '/images/galleries/guys-portraits/boy-portraits-standing.jpg', :alt=>'Girl in alley', :class=>'pictures' %>
            </div>
        </article>
</div> <!-- #main -->